grafana:
  enabled: true

alertmanager:
  enabled: true

moRuler:
  replicaCount: 1
  image:
    repository: matrixone-cloud/observability
    tag: mo-ruler-local
    pullPolicy: IfNotPresent
  
  rulerSpec:
    secret: mo-ob-secret
    ruler:
      mo:
        type: cfg
        labels:
          matrixone.cloud/role: observability
        host: matrixone.xiezexiong
        port: 6001
        user: dump
        password: 111
